<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a mat-button routerLink="movies/filter">
            <mat-icon>search</mat-icon>
            Search Movies

        </a>
        <a mat-button routerLink="genres">
            <mat-icon>label</mat-icon>
            Genres
        </a>
        <a mat-button routerLink="actors">
            <mat-icon>label</mat-icon>
            Actors
        </a>
        <a mat-button routerLink="movietheaters">
            <mat-icon>label</mat-icon>
            Movie Theaters
        </a>
        <a mat-button routerLink="movies/create">
            <mat-icon>label</mat-icon>
            Create Movie
        </a>
    </span>
</mat-toolbar>
