<app-generic-list [list]="movies">
    <ng-container loading>
        Movies loading....
    </ng-container>
    <ng-container empty>
        There are no movies
    </ng-container>
    <ng-container content>
        <div class="movies-container">
            <div *ngFor="let movie of movies; let i = index" class="movie-item">
                <div>
                    <a>
                        <img [src]="movie.image" alt="movie poster" />
                    </a>
                    <p>
                        <a>{{movie.name}} ({{movie.year}})</a>
                    </p>
                    <div>
                        <a mat-flat-button color="primary" (click)="editMovie(movie.id)">Edit</a>
                        <button mat-flat-button color="warn" type="button" (click)="deleteMovie(movie.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</app-generic-list>
