<app-generic-list [list]="movies">
    <ng-container loading>
        Movies loading....
    </ng-container>
    <ng-container empty>
        There are no movies
    </ng-container>
    <ng-container content>
        <div *ngFor="let movie of movies; let i = index" class="movie-item">
            <div>
                <img src="{{movie.image}}" alt="movie poster" height="100" />

                <div>
                    <h2>{{movie.name}} ({{movie.year}})</h2>
                </div>
                <div><span>{{movie.description}}</span></div>
                <div><span>{{movie.rating}}</span></div>
                <button mat-raised-button color="warn" (click)="deleteMovie(movie.id)">Delete</button>
            </div>
        </div>
    </ng-container>

</app-generic-list>
